# tokens
token.json
EBN-Grade-Classification/src/credentials.json

# virtual environment
venv

# pycharm
.idea

# resnet50 model is 400 mb, decided to not include it
EBN-Grade-Classification/src/models/resnet50/resnet50model/
EBN-Grade-Classification/src/models/resnet50/resnet50model.zip

# YOLO model is more than 100 mb, decided to not include it
/EBN-Grade-Classification/src/models/yoloV8/yolov8x.pt

# data
EBN-Grade-Classification/data/
EBN-Grade-Classification/grades/
EBN-Grade-Classification/colour/
EBN-Grade-Classification/feather/
/EBN-Grade-Classification/src/EBN-Grade-Classification/data
/EBN-Grade-Classification/src/EBN-Grade-Classification/grades
/EBN-Grade-Classification/src/EBN-Grade-Classification/colour
/EBN-Grade-Classification/src/EBN-Grade-Classification/feather
